
<nav class="navbar">
        <!--menu responsivo para mobile-->
        <span id="menu-mobile" class="navbar-toogle">
          <mat-icon>menu</mat-icon>
        </span>
      
        <!--menu para desktop-->
        <span class="logo"><img src="../../../assets/Images/logot.png"/></span>
      
        <ul id="menu-desktop" class="main-nav" >
      
          <li>
            <a routerLink="/lista-contatos" class="nav-links">Consultar Contatos</a>
          </li>
          <li>
           <a routerLink="/lista-usuarios" class="nav-links" >Consultar Usuários</a>
          </li>
          <li>
            <a class="nav-links logout" (click)="logout()" >Logout</a>
          </li>
        </ul>
      </nav>
      