<app-navbar></app-navbar>

<section>
  <div class="container">
      <h1>FORMULÁRIO DE USUÁRIO</h1>
  </div>
</section>
<section>
  <form [formGroup]="formUsuarios" >
      <div class="container-input">
          <div >
              <span>Email:</span>
              <input formControlName="email" type="text" name="email">
          </div>
          <div>
              <span>Senha:</span>
              <input formControlName="password" type="text" name="senha">
          </div>
          <div>
              <span>Nome:</span>
              <input formControlName="name" type="text" name="nome">
          </div>
          <div class="checkbox">
              <input formControlName="admin"   type="checkbox">
              <span>Administrador?</span>
          </div>
          <div>
              <button mat-raised-button  color= "primary" (click)="saveu()" class="container-button">Salvar Usuário</button>
          </div>
      </div>
  </form>
</section>