.container{
  display:flex;
  justify-content: center;
  margin-top: 20px;

}

.container-input{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.5em;
  margin:20px;

  input{
      width:100%
  }
  .checkbox{
     display: flex;
     margin-top: 20px;
     margin-right:390px;
     
     
  }
  }