<app-navbar></app-navbar>
<section>
  <div class="container_title">
<strong><h1>Cadastrar Novo Usuário</h1></strong>
  </div>
</section>


<section>

  <div class="container_form">

    <div class="nome_form">
      <p>Nome: </p>
      <input type="text" size="75" />
    </div>

    <div class="username_form">
      <p>Username: </p>
      <input type="text" size="75"/>
    </div>

    <div class="password_form">
      <br>
      <p>Password: </p>
      <input type="text"  size="75"/>
    </div>

    <div class="admin_form">
      <br> 
      <br>
      <input type="checkbox" value="T" id="checkboxOneInput" size="75"/>
      <label for="checkboxOneInput">Administrador?</label>
     
    </div>
  </div>
</section>

<section>
  <div class="container_buttons">
    
    <button mat-raised-button color="primary" (click)="saveu()">Salvar Usuario</button>
  </div>
</section>