<app-navbar></app-navbar>

<section>
  <div class="container_title">
<strong><h1>Cadastrar Novo Contato</h1></strong>
  </div>
</section>


<section>

  <div class="container_form">

    <div class="nome_form">
      <p>Nome: </p>
      <input type="text" size="75" />
    </div>

    <div class="phone_form">
      <p>Phone: </p>
      <input type="text"  size="75"/>
    </div>

    <div class="email_form">
      <br>
      <p>Email: </p>
      <input type="text" size="75"/>
    </div>


  </div>
</section>

<!--botao de salvar contatos-->
<section>
  <div class="container_buttons">
    <button mat-raised-button color="primary">Salvar Contato</button>
  </div>
</section>
