
<app-navbar></app-navbar>
<!--titulo da lista de contatos-->
<section>
  <div class="container_title">
    <h1>Cadastrar Novo Contato</h1>
  </div>
</section>
<!---Botao de adicionar contato-->
<section>
  <div class="container_buttons">
    <button mat-raised-button color="primary">Salvar Contato</button>
  </div>
</section>
<!--Tabela da lista de contatos-->
<section>
  <div>
    <table>
      <!--thead-->
      <thead>
        <tr>
 
        </tr>
      </thead>
      <!--tbody-->
      <tbody>
        <tr>
         
        </tr>
      </tbody>
    </table>
  </div>
</section>
