:host{
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, #dfe7f0 100%);
    display: flex;
    justify-content: center;
    height:max-content;
    margin: 180px 0px;
    
}

.example-card {
    background: #dfe7f0;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, #dfe7f0 100%);
    border-style:none;
    max-height: 500px;
}
.example-form {
    background: #dfe7f0 ;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, #dfe7f0 60%);
    width:100%
    

}

.exampe-full-width {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(94, 113, 155) 0%, rgba(9,9,121,1) 35%, #dfe7f0 100%);
    max-height:max-content;
    width:100%;
}

.alignButtonsCenter {
    background: #dfe7f0 ;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, #dfe7f0 100%);
    display: flex;
    justify-content: center;
}

.container-logo {
    
    display: flex;
    border-style: hidden;
    justify-content: center; 
    opacity : 0.5;

}

.container-login{
   
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}