  
<app-navbar></app-navbar>
<!--titulo da lista de contatos-->
<section>
  <div class="container_title">
    <h1>Usuários</h1>
  </div>
</section>

<section>
  <div CLASS="container_buttons">
    <a routerLink="/cadastro-usuarios"><button mat-raised-button color="primary">Criar Usuário</button></a>
    <a routerLink="/cadastro-contatos"><button  mat-raised-button color="primary">Criar Contato</button></a>
    <br>
    
  </div>
</section>

<section>
  <div>
    <table>
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Nome</th>
          <th scope="col">Senha</th>
          <th scope="col">Admin</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <!--tbody-->
   
      <tbody>
        <tr *ngFor="let user of usersList">
          <td data-label="E-mail">{{user.email}}</td>
          <td data-label="Nome">{{user.name}}</td>
          <td data-label="Password">{{user.password}}</td>
          <td data-label="Admin">{{user.admin}}</td>
         <th scope="col"></th>
        <td>
            <div class="container_buttons_table">
         
              <mat-icon (click)="deleteUsuarios(user)">delete</mat-icon>
              
              <mat-icon (click)="editUsuarios(user)">edit</mat-icon>
              </div>
            </td>       
        </tr>
      </tbody>
    </table>
  </div>
</section>


